function Cono.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push pointer 0
push this 1
call Cono.draw 2
pop temp 0
push pointer 0
return
function Cono.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Cono.draw 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 112
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 112
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 248
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 248
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 508
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 508
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1022
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1533
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1539
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1022
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
