function Main.main 6
push constant 1
call Carro.new 1
pop local 0
push constant 1000
call Cactus.new 1
pop local 1
push constant 2000
call Hueco.new 1
pop local 2
push constant 2500
call Auto_Obstaculo.new 1
pop local 3
push constant 3000
call Cono.new 1
pop local 4
push constant 3500
call Difunto.new 1
pop local 5
push local 0
call Carro.dispose 1
pop temp 0
push local 1
call Cactus.dispose 1
pop temp 0
push local 2
call Hueco.dispose 1
pop temp 0
push local 3
call Auto_Obstaculo.dispose 1
pop temp 0
push local 4
call Cono.dispose 1
pop temp 0
push local 5
call Difunto.dispose 1
pop temp 0
push constant 0
push constant 49
push constant 511
push constant 49
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 50
push constant 511
push constant 50
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 205
push constant 511
push constant 205
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 206
push constant 511
push constant 206
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 102
push constant 25
push constant 102
call Screen.drawLine 4
pop temp 0
push constant 50
push constant 102
push constant 75
push constant 102
call Screen.drawLine 4
pop temp 0
push constant 100
push constant 102
push constant 125
push constant 102
call Screen.drawLine 4
pop temp 0
push constant 150
push constant 102
push constant 175
push constant 102
call Screen.drawLine 4
pop temp 0
push constant 200
push constant 102
push constant 225
push constant 102
call Screen.drawLine 4
pop temp 0
push constant 250
push constant 102
push constant 275
push constant 102
call Screen.drawLine 4
pop temp 0
push constant 300
push constant 102
push constant 325
push constant 102
call Screen.drawLine 4
pop temp 0
push constant 350
push constant 102
push constant 375
push constant 102
call Screen.drawLine 4
pop temp 0
push constant 400
push constant 102
push constant 425
push constant 102
call Screen.drawLine 4
pop temp 0
push constant 450
push constant 102
push constant 475
push constant 102
call Screen.drawLine 4
pop temp 0
push constant 500
push constant 102
push constant 511
push constant 102
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 154
push constant 25
push constant 154
call Screen.drawLine 4
pop temp 0
push constant 50
push constant 154
push constant 75
push constant 154
call Screen.drawLine 4
pop temp 0
push constant 100
push constant 154
push constant 125
push constant 154
call Screen.drawLine 4
pop temp 0
push constant 150
push constant 154
push constant 175
push constant 154
call Screen.drawLine 4
pop temp 0
push constant 200
push constant 154
push constant 225
push constant 154
call Screen.drawLine 4
pop temp 0
push constant 250
push constant 154
push constant 275
push constant 154
call Screen.drawLine 4
pop temp 0
push constant 300
push constant 154
push constant 325
push constant 154
call Screen.drawLine 4
pop temp 0
push constant 350
push constant 154
push constant 375
push constant 154
call Screen.drawLine 4
pop temp 0
push constant 400
push constant 154
push constant 425
push constant 154
call Screen.drawLine 4
pop temp 0
push constant 450
push constant 154
push constant 475
push constant 154
call Screen.drawLine 4
pop temp 0
push constant 500
push constant 154
push constant 511
push constant 154
call Screen.drawLine 4
pop temp 0
push constant 0
return
